@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@layer base
{
    tr 
    {
        @apply hover:bg-teal-800 hover:text-white bg-teal-400;
    }
    th
    {
        @apply bg-teal-800 p-2 text-center text-white border sticky -top-0.5 left-0 ;    
    }
    td
    {
        @apply  p-2 text-center border;  
    }
    
}

